/* main */

h2 {
  color: #262626; /* dark grey */
  padding-left: 25px;
}

body {
  background: #cce0ff; /* light blue */
  font-family: verdana;
  margin: 0px;
  padding: 0px;
}

/* /main */

/* table */

#consumer_summary {
    border-collapse: collapse;
    background-color: #f2f2f2; /* light grey */
    margin: 10px 0px 0px 20px; /* top right bottom left */
}
#consumer_summary td, #consumer_summary th {
    border: 1px solid #ddd; /* dark grey */
    padding: 8px;
}
#consumer_summary th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50; /* highlight green */
    color: #fff; /* white */
}

#topData {
  padding-right: 17px;
}
#mainData {
  height: 350px;
  overflow: scroll;
  overflow-x: hidden;
}
#consumer_toptable, #consumer_datatable {
  border-collapse: collapse;
  /*font-size: 1vw;*/
  table-layout: fixed;
  width: 100%;
  word-wrap: break-word;
}
#consumer_toptable th, #consumer_datatable td {
  padding: 4px;
  text-align: left;
}
#consumer_toptable {
  color: #fff; /* white */
  cursor: pointer;
  background-color: #4CAF50; /* highlight green */
}
#consumer_datatable {
  background-color: #fff; /* white */
  color: #808080; /* grey */
}
#consumer_datatable tr:nth-child(odd){
  background-color: #f1f1f1; /* light grey */
}
.dtable_border {
  border-right: 1px solid #cce0ff; /* light blue */
}
#bottomData {
  color: #808080; /* grey */
  font-size: 12px;
  margin-left: 20px;
}
#search_records {
  overflow: hidden;
}
#search_input {
  background-image: url("../img/consumerSearch.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  border: 1px solid #ddd;
  font-size: 16px;
  margin-bottom: 12px;
  padding: 12px 20px 12px 40px; /* top right bottom left */
  width: 100%;
}
.findID {
  margin-left: 10px;
  width: 25px;
}

/* /table */

/* other */

.gotoList {
  color: #00e64d; /* mint */
  text-decoration: underline;
  margin: 10px 0px 0px 20px; /* top right bottom left */
}
.gotoSummary {
  color: #00e64d; /* mint */
  text-decoration: underline;
  float: right;
}
.gotoList:hover, .gotoSummary:hover {
  color: #005ce6; /* blue */
}

/* /other */
